<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rompecocos</title>
    <link rel="stylesheet" href="../../index.css">
    <link rel="stylesheet" href="../css/game.css">
</head>

<body>
    <nav>
        <div class="puntos">
            <h2>Puntos: </h2><span id="puntos">0</span>
        </div>
        <div class="tiempo">
            <img class="img-reloj" src="../assets/images/reloj.png" alt="">
            <h2 id="tiempo">50</h2><span>s</span>
        </div>
    </nav>
    <div id="puzzle-container"></div>
    <script src="../js/gme.js"></script>
</body>

</html>
